@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>CloudNote is a free-to-use Note application. <br/> For suggestions and inquiries, <a href="mailto:e2063246@ceng.metu.edu.tr">e-mail</a> us.</p>
