@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Department of Computer Engineering<br />
    Middle East Technical University<br />
    Inonu Bulvari, 06800, Ankara<br />
    TURKEY<br />
    <abbr title="Phone">P:</abbr>
    (+90)-312-210 2080
</address>

<address>
    <strong>Support and Dev Team:</strong>   <br/>
    <a href="mailto:e2120509@ceng.metu.edu.tr">Çağatay Kaya</a><br />
    <a href="mailto:e2063246@ceng.metu.edu.tr">Doğukan Tunç</a><br />
    <a href="mailto:e2119907@ceng.metu.edu.tr">Ekin Çapcı</a><br />
    <a href="mailto:e2135564@ceng.metu.edu.tr">Koray Koç</a><br />
</address>