@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="text-center">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/Content/_img/cloudnote-icon.png" title="CloudNote" alt="additional title" />
        </a>
    </div>

    <br />
    <div class="text-center">
        <p class="lead">CloudNote is a simple, free and robust note taking application which organizes everything you need.</p>
        <br />
        <p><a href="~/Account/Login" class="btn btn-primary btn-lg">Start using now &raquo;</a></p>
    </div>


</div>
