
@{
    ViewBag.Title = "Shared Notes";
}

<div class="container">
    <h2>
        Shared Notes
        </h2>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-lg-1"></th>
                <th class="col-lg-3">Title</th>
                <th class="col-lg-3">Content</th>
                <th class="col-lg-2">From/To</th>
                <th class="col-lg-2">Date</th>
                <th class="col-lg-2"></th>
            </tr>
        </thead>

    </table>
</div>
